[Unit]
Description=BCI development environment for Raspberry Pi
After=syslog.target
Requires=ezmsg-gadget.service
Requires=ezmsg.service

[Service]
Type=simple
User=bcpi
WorkingDirectory=/home/bcpi
ExecStart=python -m bcpi.command
StandardOutput=journal

[Install]
WantedBy=local-fs.target
